
//
//  =========================================================
//  Page Home
//  =========================================================
//

.container_page.home {

	.bg_page {
		background: #fff;
	}

	.content {
		color: #666;

		.row {
			padding: 20px;
		}

	}

}
