/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* mixin */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@mixin force_hardware_acceleration()
{
	transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}