
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Common
@import "common/variables";
@import "common/settings";
@import "common/mixins";
@import "common/layout";
//@import "common/fonts";

// Modules
@import "components/nav";

// Pages
@import "pages/home";
@import "pages/about";

// Bulma
@import "~bulma";
@import "~bulma-calendar";

.calendar {
  .calendar-date {
    text-transform: capitalize;
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .4s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: scale(.9);
  opacity: 0;
}
